header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
    align-items: center;
    display: flex;
}

.logo {
    background: url(//wsl.localhost/Ubuntu-22.04/home/halmouus/AirBnB_clone/web_static/images/logo.png) center;
    background-repeat: no-repeat;
    padding-left: 20px;
    width: 140px;
    height: 70px;
}